@media	screen and (min-width: 951px) and (max-width: 1251px){
	.container{
		width: 900px;
	}
}
@media	screen and (min-width: 651px) and (max-width: 951px){
	.container{
		width: 600px;
	}
}
@media	screen and (min-width: 351px) and (max-width: 651px){
	.container{
		width: 300px;
	}
}